*,
*::before,
*::after {
    box-sizing: border-box;
}

*:not(dialog) {
    margin: 0;
}

html {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    height: 100%;
    font-size: 2rem;
}

body {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
